@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

.app-container {
  display: flex;
  padding-top: 160px;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 100vh;
  min-width: 100vw;
}

@media (max-width: 1160px) {
  .app-container {
    padding-top: 20px;
  }
}
